<div class="container">
    <div class='card'>
        <div class='card-body'>

    <ul class="list-group" *ngFor="let entity of entities; index as index">
       <li class="list-group-item" [class.list-group-item-warning]="entity.changed">
       <div class='row'>
            <div class='col-sm'>
                <span *ngIf="currentlyEditedId !== index">
                    <span *ngIf="entity.changed"><s>{{entity.origName}}</s></span>
                    {{ entity.name }} 
                </span>
                <span *ngIf="currentlyEditedId === index">
                    <input [formControl]="getControl(index)" 
                    placeholder="entity.name" 
                    (blur)="save(index)">
                </span>
            </div>
            <div class='col-sm'>
                <button *ngIf="currentlyEditedId !== index" (click)="edit(index)"> edit</button>
                <button *ngIf="currentlyEditedId === index"  (click)="save(index)"> save</button>
            </div>
        </div>   
    </li>
    </ul>
    <div class='row mt-3'>
        <div class='col-sm'>
        <input [formControl]="newStudentControl" type='text'>
        </div>
        <div class='col-sm'>
            <button (click)="add()">Hinzufügen</button>
        </div>
    </div>
    </div>
    </div>

</div>